@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

nav {
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin-right: 60px;
}

nav li {
  color: #fb704f;
  font-weight: 500;
  font-size: 35px;
  margin: 10px 20px;
}

form {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
}

textarea {
  border: 2px solid #000;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 10px 40px;
}

.banner-div {
  font-size: 42px;
  color: #f15631;
  margin: 145px 40px;
  font-weight: 800;
}

.home-bg {
  background-image: url('./images/banner.jpg');
}

.main-bg {
  background-color: #232323;
}

.btn {
  background-color: #f15631;
  width: 15%;
  border-radius: 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.flex-h {
  display: flex;
}
