@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

nav {
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin-right: 60px;
}

nav li {
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  margin: 10px 20px;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 10px 40px;
}

.banner-div {
  font-size: 45px;
  color: #fff;
  margin: 145px 40px;
}

.flex-h {
  display: flex;
}
